@import './fonts.css';
@import 'tailwindcss';


@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
  --font-heading: 'Gellix', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';

  --color-*: initial;
  --color-eggplant: #191228;
  --color-violet-50: #F2EEFF;
  --color-violet-100: #EDE7FF;
  --color-violet-400: #AC78FF;
  --color-emerald-50: #E2FFF5;
  --color-emerald-900: #005A1E;
  --color-blue-100: #DCF2FF;
  --color-blue-900: #002C93;
  --color-purple-100: #F0E1FF;
  --color-purple-900: #65009C;
  --color-fuchsia-100: #FDE6FF;
  --color-fuchsia-900: #B1007E;
  --color-orange-100: #FFE8DE;
  --color-orange-800: #9B3700;
  --color-red-500: #FF2D20;
  --color-neutral-50: #F7F8F8;
  --color-neutral-100: #F1F1F1; /* #EEEEEE #EBEBEB */
  --color-neutral-200: #E3E3E3;
  --color-neutral-250: #C9C9C9;
  --color-neutral-300: #BDBDBD;
  --color-neutral-400: #A3A3A3;
  --color-neutral-500: #818181;
  --color-neutral-600: #4F4F4F; /* #464646 #5A5A5A */
  --color-neutral-950: #121212;
  --color-black: #000;
  --color-white: #fff;
  --color-transparent: transparent;
  --color-current: currentColor;

  --radius-lg: .4375rem;
  --radius-xl: .9375rem;
  --radius-2xl: 1.25rem;

  --text-xs: .8125rem;
  --text-xs--line-height: 1.125rem;
  --text-sm: .875rem;
  --text-sm--line-height: 1.1875rem;
  --text-base: .9375rem;
  --text-base--line-height: 1.25rem;
  --text-lg: 1.125rem; /* Desktop + Tablet/Gellix medium */
  --text-lg--line-height: 1.3125rem;
  --text-xl: 1.25rem; /* Global/Gellix Xsmall */
  --text-xl--line-height: 1.5rem;
  --text-2xl: 1.4375rem; /* Global/Gellix small */
  --text-2xl--line-height: 1.5625rem;
  --text-2\.5xl: 1.5625rem;
  --text-2\.5xl--line-height: 1.75rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.0625rem;
  --text-4xl: 2.1875rem;
  --text-4xl--line-height: 2.375rem;
  --text-5xl: 2.8125rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3.4375rem;
  --text-6xl--line-height: 3.625rem;


  --breakpoint-md: 49.5rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: initial;
}

@utility container {
  @apply mx-auto px-3.75 md:px-2.5;
}

.\@container-scroll {
  container-type: scroll-state;
}

@utility scrollbar-none {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/*@custom-variant @stuck-top {*/
/*  @supports (container-type: scroll-state) {*/
/*    @container scroll-state(stuck: top) {*/
/*      @slot;*/
/*    }*/
/*  }*/
/*}*/
