
.content {
  @apply font-[450] text-[1rem]/[1.5rem] md:text-[1.1875rem]/[1.875rem];
  > p {
    @apply mb-6;
  }
  > h2 {
    @apply text-[1.375rem]/[1.875rem] md:text-[1.75rem]/[2.25rem] font-[550] mt-10 mb-4 md:mt-14 md:mb-6;
  }
  > h3 {
    @apply font-[650] mt-8 mb-4 md:mt-10 ;
  }
  a:not([class]) {
    @apply underline underline-offset-4 transition px-1 -mx-1 box-decoration-clone hover:bg-current/10;
  }
  > ul, ol {
    @apply pl-[1.5em] mb-6;
  }
  li {
    @apply mb-2;
  }
  > ul {
    @apply list-disc;
  }
  > ol {
    @apply list-decimal;
  }
  > hr {
    @apply my-6
  }
  strong {
    @apply font-[650];
  }

  > :first-child {
    margin-top: 0!important;
  }
  > :last-child {
    margin-bottom: 0!important;
  }
}
